node_modules
.pnpm-store
.turbo
dist
.next
.expo
expo-env.d.ts
out
build

# env
.env.bak
.env.*.bak
*.bak
.env
.env.local
.env.*.local

# prisma
packages/db/node_modules

# misc
.DS_Store
*.log
coverage
*.tsbuildinfo

# playwright
apps/web/playwright-report
apps/web/test-results
apps/web/blob-report
